@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,700,900");
body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth; }

/*LOADER*/
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  scroll-behavior: none; }

.loader .icon {
  margin: -50% auto;
  width: 200px;
  height: 200px;
  background: url("../images/logo_white.svg") center center no-repeat;
  border-radius: 50%;
  -webkit-animation: drop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: drop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; }

.loader .text {
  margin: -10%;
  padding: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  font-weight: 300;
  -webkit-animation: fade 4s ease-out forwards;
          animation: fade 4s ease-out forwards;
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

@-webkit-keyframes drop {
  100% {
    display: block;
    margin: 15% auto;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@keyframes drop {
  100% {
    display: block;
    margin: 15% auto;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@-webkit-keyframes fade {
  90% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fade {
  90% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*CONTAINER*/
.container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  /*border: 1px dashed #000;*/ }

/*HAMBURGER*/
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #111; }

.ham-logo {
  height: 100px;
  width: 100%; }

.ham-logo a {
  width: 100%;
  height: 100%; }

.ham-logo a img {
  text-align: center;
  width: auto;
  height: 80%;
  padding: .5rem; }

.ham {
  display: inline-block;
  font-size: 2.5rem;
  padding: 1rem;
  color: #fff;
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .ham {
    display: none; } }

/*NAVBAR*/
.navbar {
  height: auto;
  width: 100%;
  background: #fff;
  overflow: hidden; }

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.main-nav li {
  text-align: center;
  padding: 1rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.main-nav li a {
  text-decoration: none;
  color: #111;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.main-nav li:hover {
  background: #111;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.main-nav li:hover a {
  color: #fff; }

.hide-nav {
  display: none; }

@media screen and (min-width: 768px) {
  .main-nav {
    text-align: center;
    display: block; }
  .main-nav li {
    display: inline-block; } }

/*HEADER*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
  background-image: -webkit-linear-gradient(top, #111 0%, black 100%);
  background-image: linear-gradient(to bottom, #111 0%, black 100%); }

.clip-text {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 5rem;
  font-weight: 900;
  text-align: center; }

.index-header {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/QAJ5V3RVP7.jpg") center 40% no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.music-header {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/J45DTZD2VJ.jpg") center center no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.art-header {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/TA3S4PTNMN.jpg") center 60% no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem; }

.art-header span {
  font-size: 3rem;
  color: #fff; }

.icon-header {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/74C406F3H0.jpg") center 60% no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem; }

@media screen and (min-width: 768px) {
  .clip-text {
    font-size: 8rem; }
  .art-header {
    font-size: 5rem; } }

@media screen and (min-width: 960px) {
  .clip-text {
    font-size: 8rem; }
  .art-header {
    font-size: 6rem; } }

/*TITLE*/
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/SWRREC0K3A.jpg") center center no-repeat;
  background-size: cover;
  height: 60vh; }

.title h2 {
  padding-top: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid #111;
  color: #CDCDCD; }

.title p {
  padding: 2rem;
  color: #111; }

/*ABOUT*/
.about {
  background: #fff; }

.about h2 {
  padding-top: 2rem;
  font-weight: 300;
  text-align: center; }

.about p {
  text-align: center;
  padding: 2rem; }

.about .row {
  padding: 0 2rem; }

.about .col {
  margin-top: 1rem;
  color: #CDCDCD; }

/*CARDS*/
.cards {
  background: #fff;
  margin: 0 auto; }

.cards h2 {
  padding-top: 2rem;
  font-weight: 300;
  text-align: center; }

.cards h2 + p {
  text-align: center;
  padding: 2rem; }

.cards .row a {
  text-decoration: none;
  color: #000; }

.cards .row .col {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: box-shadow .35s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out;
  transition: box-shadow .35s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out;
  transition: box-shadow .35s ease-out,  transform .3s ease-out,  opacity .2s ease-out;
  transition: box-shadow .35s ease-out,  transform .3s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out; }

.cards .row .col:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px); }

.cards .row .col img {
  height: 50px;
  width: 50px; }

@media screen and (min-width: 768px) {
  .cards .row .col {
    display: inline-block;
    width: 35%; } }

/*CONCERTS*/
.concert {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/13J0B5G5PY.jpg") center bottom no-repeat;
  background-size: cover;
  height: 60vh;
  margin: 0 auto; }

.concert::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(black, transparent);
  background-image: linear-gradient(black, transparent); }

.concert h2 {
  padding-top: 4rem;
  font-weight: 900;
  text-align: center;
  color: #CDCDCD;
  z-index: 1; }

.concert h2 + p {
  text-align: center;
  padding: 2rem;
  color: #CDCDCD;
  z-index: 1; }

/*ALBUMS*/
.albums {
  background: #fff;
  /*#2EBD59;*/
  width: 100%;
  margin: 0 auto; }

.albums h2 {
  margin: 0;
  padding-top: 2rem;
  font-weight: 300;
  text-align: center; }

.albums h2 + p {
  text-align: center;
  padding: 2rem; }

.albums .row {
  text-align: center; }

.albums .row .col {
  position: relative;
  display: inline-block;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: box-shadow .35s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out;
  transition: box-shadow .35s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out;
  transition: box-shadow .35s ease-out,  transform .3s ease-out,  opacity .2s ease-out;
  transition: box-shadow .35s ease-out,  transform .3s ease-out,  opacity .2s ease-out,  -webkit-transform .3s ease-out;
  height: 300px;
  width: 300px; }

.albums .row .col:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px); }

.albums .music-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%; }

.album .music-content .audio {
  width: 100%; }

.albums .row .col-1 {
  background: url("https://img.discogs.com/9LWSQkZVaePKqxCAQ0_KB4sK7nE=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8819231-1469444298-7214.jpeg.jpg") center center no-repeat;
  background-size: cover; }

.albums .row .col-2 {
  background: url("https://img.discogs.com/H1otnZMxIZgWrggJ1uflpMsBqgw=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-6401788-1487162703-8752.jpeg.jpg") center center no-repeat;
  background-size: cover; }

.albums .row .col-3 {
  background: url("https://img.discogs.com/DOTIX-ZnX42INjGTOi3afp0PuJs=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3184175-1448881185-9731.jpeg.jpg") center center no-repeat;
  background-size: cover; }

.albums .row .col-4 {
  background: url("https://img.discogs.com/9J64A1YAknoFJiH98RHIOJSHLro=/fit-in/600x553/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-6061239-1449203563-4542.jpeg.jpg") center center no-repeat;
  background-size: cover; }

.albums .row .col-5 {
  background: url("https://img.discogs.com/GQ4vh32bQdM5sy6E--WhSFesNoU=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8486755-1462565462-3229.jpeg.jpg") center center no-repeat;
  background-size: cover; }

.albums .row .col-6 {
  background: url("https://img.discogs.com/yxYrLP4jR5c402PU89XVP-11_U0=/fit-in/600x524/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2962443-1309351495.jpeg.jpg") center center no-repeat;
  background-size: cover; }

/*ART*/
.art {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/d72c2c45157523.5828727721b91.jpg") center center no-repeat;
  background-size: cover;
  height: 65vh;
  margin: 0 auto; }

.art::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(black, transparent);
  background-image: linear-gradient(black, transparent); }

.art .row {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

/*Gallery*/
.gallery .row {
  position: relative;
  margin: 0 auto; }

.gallery .row .col {
  text-align: center;
  background: red;
  -webkit-transition: all 5s ease-out;
  transition: all 5s ease-out;
  color: #fff;
  font-weight: 300; }

.gallery .row .col h1 {
  padding: 2rem; }

@media screen and (min-width: 768px) {
  .gallery .row .col {
    display: inline-block;
    width: 33%; } }

.gallery-container {
  height: 50vh;
  width: 100%;
  margin: 20px 0px;
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/TA3S4PTNMN.jpg") left center no-repeat;
  background-size: cover; }

.gallery h2 {
  padding-top: 4rem;
  font-weight: 300;
  text-align: center;
  color: #111;
  z-index: 1; }

.gallery h2 + p {
  text-align: center;
  padding: 2rem;
  color: #CDCDCD;
  z-index: 1; }

.gallery .row .col-1 {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/TA3S4PTNMN.jpg") left center no-repeat;
  background-size: cover; }

.gallery .row .col-2 {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/606YAWY5OU.jpg") center center no-repeat;
  background-size: cover; }

.gallery .row .col-3 {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/SYULKOWXSU.jpg") right center no-repeat;
  background-size: cover; }

.gallery .row .col-1:hover ~ .gallery-container {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/TA3S4PTNMN.jpg") left center no-repeat;
  background-size: cover;
  opacity: 1; }

.gallery .row .col-2:hover ~ .gallery-container {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/606YAWY5OU.jpg") center center no-repeat;
  background-size: cover;
  opacity: 1; }

.gallery .row .col-3:hover ~ .gallery-container {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/SYULKOWXSU.jpg") right center no-repeat;
  background-size: cover;
  opacity: 1; }

/*BIO*/
.bio {
  background: #fff;
  /*#2EBD59;*/
  width: 100%;
  margin: 0 auto; }

.bio h2 {
  margin: 0;
  padding-top: 2rem;
  font-weight: 300;
  text-align: center; }

.bio h2 + p {
  text-align: center;
  padding: 2rem; }

/*ART TABLE*/
.art-table {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem; }

.art-table table {
  width: 100%; }

.art-table table th {
  font-size: 1.5rem;
  padding: 1rem;
  background: #000;
  color: #fff; }

.art-table table td {
  border: solid 1px #000;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.art-table table td:hover {
  background: #000;
  color: #fff; }

/*CONCTACT FORM*/
#contact-form {
  height: 100%;
  width: 100%;
  background: red;
  padding: 0 2rem; }

#contact-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%; }

#contact-form div {
  width: 100%;
  background: green;
  margin-top: 10px; }

#contact-form div label {
  display: block; }

#contact-form input {
  margin-top: 10px;
  width: 100%;
  border: none;
  padding: 0.5rem; }

.gender, .interest {
  height: 100%;
  width: 45%;
  display: inline-block; }

.gender label {
  display: inline-block;
  width: 100%; }

.form-btns {
  text-align: center; }

.form-btns input[type="submit"] {
  padding: 20px; }

/*VIDEO*/
.video {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.video video {
  width: 100%; }

/*ICON GRID*/
.icon-grid {
  background: #fff;
  /*#2EBD59;*/
  width: 100%;
  margin: 0 auto;
  height: 100%; }

.icon-grid h2 {
  margin: 0;
  padding-top: 2rem;
  font-weight: 300;
  text-align: center; }

.icon-grid h2 + p {
  text-align: center;
  padding: 2rem; }

.icon-grid .row {
  width: 100%; }

.icon-grid .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.icon-grid .row .col .content {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); }

.icon-grid .row .col:hover .content {
  opacity: 1;
  color: #fff; }

.icon-grid .row .col-2 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/2245/screenshots/1808289/wired_ufo_icon.jpg") center center no-repeat;
  background-size: contain; }

.icon-grid .row .col-1 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/2245/screenshots/1431488/m_icon_animation.gif") center center no-repeat;
  background-size: cover; }

.icon-grid .row .col-3 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/2245/screenshots/1041246/rallycons.jpg") center center no-repeat;
  background-size: cover; }

.icon-grid .row .col-4 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/43342/screenshots/3339286/5.jpg") center center no-repeat;
  background-size: cover; }

.icon-grid .row .col-5 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/43342/screenshots/3284658/studiojq2017_posters2017_dribbble_week4.gif") center center no-repeat;
  background-size: cover; }

.icon-grid .row .col-6 {
  background: url("https://d13yacurqjgara.cloudfront.net/users/43342/screenshots/3301255/dribbble_2017_feb_dribbble20.jpg") center center no-repeat;
  background-size: cover; }

@media screen and (min-width: 768px) {
  .icon-grid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .icon-grid .row .col {
    width: 33.33%; } }

/*PHONE*/
.device {
  height: 90vh;
  width: 100%;
  background: #fff; }

.device .mobile {
  height: 100%;
  width: 100%;
  background: url("http://images.apple.com/v/iphone-7/d/images/overview/wireless_hero_small.jpg") center top no-repeat;
  background-size: cover; }

.device .desktop {
  height: 100%;
  width: 100%;
  background: url("http://images.apple.com/v/macbook-pro/l/images/overview/display_large.jpg") center center no-repeat;
  background-size: contain;
  display: none; }

@media screen and (min-width: 768px) {
  .device .mobile {
    display: none; }
  .device .desktop {
    display: block; } }

/*CONTACT*/
.form-container {
  box-sizing: border-box;
  -webkit-perspective: 3000;
          perspective: 3000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: #16171A; }

.card {
  height: 100%;
  width: 400px;
  background: #1A1F21;
  box-shadow: -20px 20px 80px -20px rgba(0, 0, 0, 0.5); }

.form fieldset {
  padding: 2rem;
  border: none; }

.form fieldset label {
  display: inline-block;
  width: 100%;
  color: #fff; }

.form fieldset input {
  padding: .25rem;
  margin: 1rem 0;
  display: inline-block;
  width: 100%;
  border: 0.25rem solid #fff;
  background: #1A1F21;
  color: #fff;
  border-radius: .25rem; }

.gender {
  margin-top: 2rem; }

#textarea {
  width: 100%;
  height: 100px;
  margin: 2rem 0; }

.form-btn {
  width: 100%;
  text-align: center; }

.save, .cancel {
  border: none;
  padding: .25rem;
  width: 49%;
  background: #fff;
  color: #1A1F21;
  font-size: 1.25rem; }

.save:hover {
  background: #C9FFF1;
  color: #fff; }

.cancel:hover {
  background: #FF9489;
  color: #fff; }

@media screen and (min-width: 768px) {
  .form-container {
    background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/JJPY2NOQUR.jpg") center center no-repeat;
    background-size: cover; }
  .card {
    width: 80%;
    opacity: 0.95; }
  .form fieldset label {
    width: 25%; }
  .form fieldset input {
    width: 70%; }
  #textarea {
    height: 200px; }
  .form-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form-btn input[type="submit"] {
    margin: 1rem; } }

/*THANKYOU*/
.thanks {
  height: 100vh;
  width: 100%;
  background: #242B33 url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/K51R58QJQB.jpg") center center no-repeat;
  background-size: cover; }

/*
FOOTER*/
footer {
  width: 100%;
  height: 80px;
  background: #111; }

footer ul {
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer ul li a {
  text-decoration: none;
  color: #fff; }
