<div id="lookbook-page">
  <div class="lookbook-header">
    <video src="http://mazwai.com/system/posts/videos/000/000/179/original/french_polynesia--matt_devir.mp4?1442356252" loop autoplay muted></video>
  </div>
  <h1>Lookbook</h1>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, possimus, autem. Optio doloremque voluptatibus reiciendis accusantium aspernatur culpa, ducimus dolore dolor officiis? Sequi corporis, incidunt sunt modi. Omnis, ex, laborum?

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odio dignissimos recusandae dicta repellat neque culpa cumque beatae sapiente nihil, soluta officia consectetur unde libero, minima quaerat earum, laboriosam praesentium!
  </p>
  
  <div class="lookbook-grid">
    <div class="left-grid">
     <div class="left-img1 left-images">
         <img src="images/lookbook.jpg" alt="lookbook">
     </div>
     <div class="left-img2 left-images">
         <img src="images/lookbook2.jpg" alt="lookbook">
     </div>
    
    </div>
    <div class="right-grid">
     <div class="right-img1 right-images">
         <img src="images/lookbook3.jpg" alt="lookbook">
     </div>
     <div class="right-img2 right-images">
         <img src="images/lookbook4.jpg" alt="lookbook">
     </div>
      <div class="right-img3 right-images">
          <img src="images/lookbook5.jpg" alt="lookbook">
      </div>
    </div>

  </div>


</div>
