<!-- HOME PAGE -->
<div id="home-page">
    <header>
        <div class="logo"></div>
    </header>
    <h1>ROCKTOWN KICKS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit illo dolores eligendi illum repudiandae, at nobis rem qui necessitatibus voluptatem tempore ad molestiae unde aspernatur voluptatum asperiores in iusto animi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit soluta iusto fuga, distinctio accusamus voluptatibus laborum mollitia, sequi impedit neque voluptas ad, nihil sit et molestias repudiandae eos repellat harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. A numquam, aperiam eligendi sapiente sint neque eaque perspiciatis hic corporis, ullam unde asperiores animi culpa quos totam, sit deserunt dicta. Dicta.</p>
    <div class="collection">
        <div class="img"></div>
        <p>SPRING 2017</p>
        <h2>ALL BLACK COLLECTION</h2>
        <button class="shop"><a ui-sref="collection">SHOP</a></button>
    </div>
    <div class="lookbook">
        <div class="img"></div>
        <p>SPRING 2017</p>
        <h2>RUGRATS KIT</h2>
        <button class="shop"><a ui-sref="lookbook">SHOP</a></button>
    </div>
    <div class="blog">
        <div class="img"></div>
        <p>SPRING 2017</p>
        <h2>ASIA SNEAKER FACTORY</h2>
        <button class="read"><a ui-sref="comingsoon">READ</a></button>
    </div>
    <div class="about">
        <div class="img"></div>
        <p>HBURG VA</p>
        <h2>SMALL TOWN CO.</h2>
        <button class="read"><a ui-sref="comingsoon">READ</a></button>
    </div>
</div>
<!-- HOME PAGE -->
