/*960 Grid - 940px internal, 20px gutters*/
*{
	box-sizing: border-box;
}

.row{
	width: auto;
	max-width: 960px;
}
.row:after{
	content: " ";
	display: table;
	clear: both;
}
.col-1{
	float: left;
	width: 6.382978723%;
}

.col-2{
	float: left;
	width: 14.89361702%;
}
.col-3{
	float: left;
	width: 23.40425532%;
}
.col-4{
	float: left;
	width: 31.91489362%;

}
.col-5{
	float: left;
	width: 40.42553191%;
	
}
.col-6{
	float: left;
	width: 48.93617021%;
}
.col-7{
	float: left;
	width: 57.44680851%;
}
.col-8{
	float: left;
	width: 65.95744681%;
}
.col-9{
	float: left;
	width: 74.46808511%;
}
.col-10{
	float: left;
	width: 82.9787234%;
}
.col-11{
	float: left;
	width: 91.4893617%;
}
.col-12{
	float: left;
	width: 100%;
}