<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rocktown Kicks</title>
	<link rel="stylesheet" href="../css/styles.css">
    <script src="//unpkg.com/show-current-browser-url"></script>
    <script src="../js/libs/jquery-3.2.1.min.js"></script>
    <script src="../js/libs/angular.js"></script>
    <script src="../js/libs/angular-ui-router.js"></script>
    <!--[if lt IE 9]>
	<script src="js/libs/html5shiv.js"></script>
<![endif]-->
    <style>
    .box {
        border: 5px solid red;
        display: block;
    }
    
    .show {
        display: hidden;
    }
    </style>
</head>

<body>
    <div id="ordercomplete-page">
	<header>
		<div class="logo"></div>
	</header>
        <h1>THANK YOU!</h1>
    </div>
</body>

</html>
